/* ユーザー情報テーブル */

#user-table td {
  vertical-align: middle;
  text-align: center;
}

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

#red {
  color: red;
}

#blue {
  color: blue;
}

/* ユーザー情報入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

.label-basic--info {
  margin-top: 5px; 
}

.basic-info-center {
  text-align: center;
}

.btn--basic-info {
  margin: 15px 0;
  width: 30%;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }
}

.user-search {
  width: 30%;
  margin: 0 0 0 auto;
}

/* 出勤中ユーザー一覧ページ */

#attendanced-table {
  th {
    vertical-align: middle;
    text-align: center;
    }
  td {
    vertical-align: middle;
    text-align: center;
    }
}